*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://res.cloudinary.com/greenprinty/image/upload/v1612714371/samples/people/blu_ybje6a.png);
    background-repeat: repeat;
    background-size: cover;
    color: #E0C634;
    background-attachment: fixed;     
    }
canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  position: fixed;
  }
.sect{width: 100%;
position: absolute;
    text-align: center;        
    margin-bottom: 20px;
    margin-top: 5vh;
}

.proja{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.part{
    max-width: 960px;
    padding-top: 1%;
}
img { width: 100%;   
    border: none;
    background: white;
    border-radius: 35px;
    margin-bottom: 20px;
    box-shadow: inset 15px 15px 32px rgb(10,70,140);
}

#fontcss{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}
.bih{
    text-align: justify;
    text-indent: 40px;
    margin-right: 10px;
     margin-left: 10px;
}
.nibe{
    margin-bottom: 40px;
    text-align: right;
    margin-right: 10px;
}
.palan{
    max-width: 399px;
    padding-top: 1%;
    margin-bottom: 20px;
    }   
 .palan img{
     width: 100%;
     background: none;
     border-radius: none;
 } 
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid white;
border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
background: #D9FE92;
border-radius: 50px;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.subh{
    margin-bottom: 20px;
    margin-top: 10px;
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}


.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(1) .content{
color: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}
.swiper-slide:nth-child(2) .content{
color: #e91e63
}
a{
    text-decoration: none;
cursor: pointer;
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;                  
      }
